body {
    font-family: Arial, sans-serif;
    background-color: #fafafa;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

article {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.choice-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Align items evenly */
    width: 100%;
}

.choice-grid div {
    width: 32.5%;
    margin-bottom: 10px;
    margin-right: 5px;
    background-color: #f4f4f4;
    border: 1px solid #dcdcdc;
    padding: 10px;
    box-sizing: border-box;
    transition: background-color 0.3s ease; /* Smooth hover effect */
    border-radius: 5px; /* Rounded corners */
}

.choice-grid div:hover {
    background-color: #e8e8e8; /* Change color on hover */
}

.choice-grid div img {
    width: 100%;
    border-radius: 5px; /* Rounded image corners */
}

.checkbox {
    height: 20px;
    width: 20px;
}

.result {
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 20px;
    display: none;
    background-color: #f0f0f0;
    border: 1px solid #dcdcdc;
    border-radius: 5px; /* Rounded corners */
}

#restart-quiz {
    width: 100%;
    height: 50px;
    background-color: #4CAF50; /* Button color */
    color: white;
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer on hover */
    font-size: 16px;
    transition: background-color 0.3s ease; /* Smooth hover effect */
}

#restart-quiz:hover {
    background-color: #45a049; /* Darker green on hover */
}

@media (max-width: 700px) {
    article {
        width: 95%;
    }
    header div span {
        display: none;
    }
}

@media (max-width: 500px) {
    .choice-grid div {
        width: 49%; /* Two items per row on smaller screens */
    }
}
